@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    @apply font-sans;
}

@utility hyperlink {
    @apply light:text-blue-600 dark:text-[#2b79a2] hover:underline;
}

#efp-body {
    h2 {
        @apply text-3xl my-4;
    }

    h3 {
        @apply text-2xl my-3;
    }

    h4 {
        @apply text-xl my-2;
    }

    h5 {
        @apply text-lg my-2;
    }

    h6 {
        @apply text-base my-2;
    }

    a {
        @apply hyperlink;
    }

    code {
        @apply light:bg-gray-100 dark:text-[#c5c8c6] px-[4px] py-[2px] light:border-gray-300 border-1 rounded-sm;
    }

    p, ol, ul {
        @apply my-4;
    }

    .section-header {
        @apply flex items-center size-fit;
        .hover-link {
            @apply inline overflow-hidden size-0 invisible opacity-0 ms-2;
            transition: visibility 0s, opacity 0.2s linear;
            svg {
                @apply size-4;
            }
        }

        &:hover .hover-link {
            @apply size-4 visible opacity-100;
        }

        &:target {
            @apply pt-13 -mt-13;
        }
    }
}

ol, ul {
    @apply ps-10;
}

.dropdown {
    .dropdown-menu {
        @apply invisible opacity-0;
        transition: visibility 0s, opacity 0.2s linear;
        &.active {
            @apply visible opacity-100;
        }
    }
}

.left-center {
    left: center;
}

.top-center {
    top: center;
}
